<div class="container max-width-90 my-5 pt-1 pb-5">
  <div class="row justify-content-center text-center" id="movie-index">
    <% i = 1; %>
    <% movies.forEach((movie) => { %>
      <a class="movie-link m-2" href="/details/<%= movie.id %>">
        <div class="image-container bg-light rounded" id="movie-<%= movie.id %>">
          <img class="image rounded" src="<%= movie.imgPath %>" alt="<%= movie.title %>">
          <div class="overlay overlay-fade d-flex align-items-center row rounded">
            <div class="col">
              <h1 class="overlay-text movie-title"><%= movie.title %></h1>
              <div class="d-flex align-items-center justify-content-center mt-2 stars-div">
                <div class="rating pt-1"><%= movie.rating.toFixed(1) %></div>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% i++; %>
    <% }); %>
  </div>
</div>